
body{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;
    min-height: 100vh; */ 
     font-family: Arial,  sans-serif;
    background-color:#f0f2f5;   
}
.wrapper{
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 ;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 1000px;    
}

.left{
    flex: 1;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center ;

}
 .left h1{
    color: #1877f2;
    font-size: 50px;
    margin-bottom: 20px;
 }
  .left p{
    font-size: 25px;
    color: #1c1e21
  }

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}
   .login-box{
    background: #fff;
    margin-top: 20px;
    padding: 20px;
    width: 350px;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) ;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   .login-box input{
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ddd;
     border-radius: 5px;
   }

   /*.login-box button{
    background-color: skyblue;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 12px;
   }*/
    .forgotpw{
    font-size: 15px;
    text-align: center;
    color: #1877f2;
    margin: 10px 0;
    text-decoration: none;
   }

   .forgotpw:hover{
     text-decoration: underline;
   }

   .login-box hr{
    margin: 20px 0px ;
    border: none;
    border-top: 1px solid #ddd;
   }

   .button1{
    padding: 12px;
    font-size: 20px;
    background-color:#1877f2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;

   }
   .button2{
    background-color: #42B72A;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 16px;
    width: fit-content;
    margin: 0 auto;
    
   }
   .createpage{
    margin-top: 20px;
    font-size: 14px;
    color: #1c1e21;
    text-align: center;
   }

   .footer{
    margin-top: 40px;
    padding: 20px;
    background-color: transparent;
    font-size: 12px;
    color: #737373;
    text-align: center;
   }

      .footer .container{
        display: flex;
        max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;  
    flex-direction: column;  
    align-items: center; 
  } 

   .footer .languages{
    display: flex;
    flex-wrap: wrap;
     gap: 10px;
     justify-content: center;
    color: #65676b;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 10px;

   }
   .footer .site-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
    padding: 0 20px;
}

     .footer a{
        color: #737373;
        text-decoration: none;
        margin: 0 6px;
     }

.footer a:hover {
    text-decoration: underline;
}

.footer .copyright {
    text-align: center;
    font-size: 12px;
    color: #737373;
    margin-top: 10px;
}
.hr1{
    color: grey;
    border: none;
    height: 1px;
    margin: 10px 0 ;

}
  